*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:rgb(255, 253, 245) ;

}

@media only screen and (max-width: 600px){  




header .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* margin: 5px; */
}
.navbar .container img{
    width: 50%;
    padding: 10% 0 2% 0%;
    /* margin: 5%; */
}


.navbar ul li{
    display: none;
    /* margin: 15px; */
}



.navbar ul a{
    /* text-decoration: none;
    color: rgb(0,0,0); */
    display: none;
}
.navbar ul {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 8% 0 0 3%;
    
    
}

<<<<<<< HEAD
.navbar ul .butnn {
    /* border-radius:50px 25px 20px 50px; */
    border-radius: 50px 20px 25px 50px;
    /* margin: 5%; */
    width: 50%;
    /* height: 100vh; */
    /* height: 5rem; */
=======
.navbar ul .butnn  {
    border-radius: 50px 20px 25px 50px;
    /* width: 4rem; */
    width: 50%;
    /* height: 65%; */
/*     height: 5rem; */
>>>>>>> fafdf97fce71788ed676d4f5c62689282ffdbd20
    border: 1px solid  #E7332B ;
    background-color:#E7332B ;
    
}
<<<<<<< HEAD
#thumb{
    width: 70%;
    height: 10vh;
}

=======
    #thumb{
    width: 70%;
    height: 10vh;
}
>>>>>>> fafdf97fce71788ed676d4f5c62689282ffdbd20
.navbar ul .btnnn {
display: flex;
text-decoration: none;
width: 100%;
<<<<<<< HEAD
/* height: 30%; */
/* border-radius:0 30px 30px 0; */
=======
>>>>>>> fafdf97fce71788ed676d4f5c62689282ffdbd20




}

.btnnn button{
    background-color: #E7332B;
    color: white;
    width: 100%;
<<<<<<< HEAD
    /* height: 50%; */
    border: none;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    margin: 8% 5% 5% 0;
    border-radius: 10px 50px 50px 15px; 
    /* border-radius: 15px 50px 50px 30px; */
=======
/*     height: 50%; */
     border: none;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    margin: 8% 5% 5% 0;
    border-radius:10px 50px 50px 15px;
    

>>>>>>> fafdf97fce71788ed676d4f5c62689282ffdbd20
}

.container2 .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content .p{
color: #E7332B;
font-size: 18px;
/* line-height: 2; */
padding: 5px;
}
.content h2{
    color:hsl(0, 2%, 10%);
    font-size: 28px;
    text-align: center;
    padding: 15px;
    width: 90%;
}
.content .imgline{
    width: 50%;
    padding: 0 0 20px 150px;
    
}

.content p{
    color:hsla(0, 5%, 30%,0.9);
    text-align: center;
    font-size: 17px;
    width: 80%;
    padding-bottom: 2em;
}


.content a button{
    padding: 10px 20px 10px 20px;
    background-color: #E7332B;
    color: white;
    font-size: 16px;
    width: 100%;
    border: 1px solid #E7332B;
    border-radius: 30px;

}

.section1wire{
    width: 15%;
<<<<<<< HEAD
    /* padding: 0 0 5em 2em; */
    /* padding-left:100px ; */
    /* margin: 15%; */
    margin: 0 20% 0 60%;
=======
/*     padding-left:100px ; */
    margin:0 20% 0 60%;
>>>>>>> fafdf97fce71788ed676d4f5c62689282ffdbd20
}

/* .content */
 .male1{
    display: none;
}

/* .content  */
.maleface{
    display: none;
}
    .maleface{
    display: none;
}
}









@media only screen and (min-width: 601px){  

    header .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .navbar .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        /* margin: 5px; */
    }
    .navbar .container img{
        width: 30%;
        padding: 3% 0 2% 0%;
        /* margin: 5%; */
    }



.navbar ul {
    list-style: none;
}
.navbar ul li{
    display: inline-block;
    width:100%;
}



.navbar ul a{
    text-decoration: none;
    color: rgb(0,0,0);
    padding: 10px;
    width: 100%;
}

.navbar ul {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 8% 0 0 3%;
    
    
}

.navbar ul .butnn  {
    border-radius: 50px 20px 25px 50px;
    /* width: 4rem; */
    width: 80%;
    /* height: 65%; */
    height: 5rem;
    border: 1px solid  #E7332B ;
    background-color:#E7332B ;
    
}
<<<<<<< HEAD

#thumb{
    width: 70%;
    height: 10vh;
}

.navbar ul .btnnn {
display: flex;
=======
    #thumb{
    width: 70%;
    height: 10vh;
}
    
.navbar ul .btnnn {
 display: flex;
>>>>>>> fafdf97fce71788ed676d4f5c62689282ffdbd20
text-decoration: none;
width: 100%;
/* height: 10vh;
border-radius:0 30px 30px 0;
border: 2px solid #E7332B;
background-color: #E7332B;
font-size: 32px;
font-weight: 600; */ 

text-decoration: none; */
/* background-color: #E7332B; */
/* padding: 10px; */

}

/* .button{
    padding: 10px;
    color: #E7332B;
    border:1px solid #E7332B;
<<<<<<< HEAD
} */

.btnnn button{
    background-color: #E7332B;
    color: white;
    width: 100%;
    /* height: 50%; */
    padding: 15px 30px 15px 30px;
    border:1px solid #E7332B;
    font-size: 18px;
    /* padding: 10px 20px 10px 20px; */
    /* margin: 8% 5% 5% 0; */
    border-radius: 10px 50px 50px 15px;
=======
}
 */
.btnnn button{
    background-color: #E7332B; 
    color: white;
    width: 100%;
/*     height: 50%; */
    padding: 15px 30px 15px 30px;
/*     background-color: #E7332B; */
    border:1px solid #E7332B;
    font-size:18px;
    border-radius: 10px 50px 50px 15px;

>>>>>>> fafdf97fce71788ed676d4f5c62689282ffdbd20
    

}


.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
<<<<<<< HEAD
    /* padding: 20px; */
=======
/*     padding: 20px; */
>>>>>>> fafdf97fce71788ed676d4f5c62689282ffdbd20

    /* margin: 5%; */
}

/* .container2 */
 img{
    width: 10%;
    padding: 0 10px 0 15px;
    /* margin: 0% */
}

.maleface{
    margin: 5%;
}




<<<<<<< HEAD
 .container2 .content{
=======
.container2 .content{
>>>>>>> fafdf97fce71788ed676d4f5c62689282ffdbd20
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
<<<<<<< HEAD
    /* margin: auto; */
=======
/*     margin: auto; */
>>>>>>> fafdf97fce71788ed676d4f5c62689282ffdbd20
    width: 100%;
    /* padding: 2rem; */
}
.content .p{
color: #E7332B;
font-size: 18px;
width: 100%;
height: 10%;
/* line-height: 2; */
padding:40px 5px 0 5px;

}
.content h2{
    color:hsl(0, 2%, 10%);
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.content .imgline{
    width: 45%;
    padding: 0 0 20px 100px;
    /* padding:0  50px 10px 100px; */
    
}

.content p{
    color:hsla(0, 5%, 30%,0.9);
    text-align: center;
    font-size: 18px;
    width: 80%;
    padding-bottom: 2em;
}


.content a button{
    padding: 10px 25px 10px 25px;
    background-color: #E7332B;
    color: white;
    font-size: 18px;
    width: 100%;
    border: 1px solid #E7332B;
    border-radius: 30px;

}

.section1wire{
<<<<<<< HEAD
    /* width: 18%; */
    /* padding-left:100px ; */
=======
/*     width: 18%; */
/*     padding-left:100px ; */
>>>>>>> fafdf97fce71788ed676d4f5c62689282ffdbd20
    margin: 5%;
}

.content .male1{
    display: flex;
<<<<<<< HEAD
    width: 100%
=======
    width:100%;
>>>>>>> fafdf97fce71788ed676d4f5c62689282ffdbd20
}

.content .maleface{
    display: ;
}
<<<<<<< HEAD




=======
    
>>>>>>> fafdf97fce71788ed676d4f5c62689282ffdbd20
}




