*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}


body{
    background-color: white;
}

@media screen and (max-width:600px) {

    /* header .navbar .container{
    
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        } */

        .navbar .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            width: 100%;
            
        } 

       .navbar .container ul a li{
            display: none;
        }
        
        .container button{
            padding: 12px;
            width: 100%;
            height: 8%;
            border: none;
            border-radius: 0 0 10px  0;
            background-color:#E7332B;
            color: white;
        }

        span{
            color: #E7332B;
            font-size: 40px;
        }


        main .cont-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
     .cont-container .content{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }
        .cont-container h1{
            width: 80%;
            text-align: center;
            padding: 25px;
            margin: 5%;
            font-weight: 700;
            font-size: 40px;
        }

        .cont-container img{
            width: 15%;
            
        }

            .cont-container p{
                width: 70%;
                text-align: center;
                color: hsla(0, 2%, 10%,0.60);
                font-size: 15px;
                font-weight: 600;
                line-height: 1.5;
                padding:0.5em ;
                margin: 0 15% 0 15% ;


            }
           .cont-container .classbtn{
                width: 100%;
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .cont-container .bttnn{
                padding: 10px;
                border: none;
                background-color: #E7332B;
                color: white;
                width: 30%;
                margin: 3%;
                border-radius: 0 0 10px 0;
                box-shadow:5px 8px rgb(151, 68, 68, 0.60);
                transition:0.3s ease-in-out;
    }
    
           .bttnn:hover{
            cursor: pointer;
            box-shadow: 0px 5px rgba(161, 153, 153, 0.60) ;
            
        }

            .cont-container button{
                padding: 10px;
                border: none;
                background-color: rgba(88, 86, 86, 0.9);
                color: white;
                width: 40%;
                border-radius: 0 0 10px 0;
                box-shadow:0px 2px rgba(161, 153, 153, 0.60);
                transition:0.3s ease-in-out;
    }

           .button:hover{
            cursor: pointer;
            box-shadow: 0px 2px rgba(161, 153, 153, 0.60) ;
        }
    .cont-container .img{
                    width: 100%;
                    padding: 30px;
                }
       .cont-container .lineimg{
                    display: none;
                }



    }
    
@media screen and (min-width:601px) {
    
    .navbar{
        padding: 0 5% 0 5%;
    }
    .navbar .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em 0 1em;
        width: 100%;
        
    } 

    .container ul a{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-decoration: none;
        list-style: none;
        color: rgb(0, 0, 0);
        padding: 2em;
        font-size: 18px;
    }
    .container ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding: 1rem;
        
    }
    
    .container button{
        padding: 12px;
        width: 15%;
        height: 8%;
        border: none;
        border-radius: 0 0 10px  0;
        background-color:#E7332B;
        color: white;
    }

    span{
        color: #E7332B;
        font-size: 40px;
    }


    main .cont-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .cont-container .content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .cont-container h1{
        width: 100%;
        text-align: center;
        padding: 25px;
        margin: 5%;
        font-weight: 700;
        font-size: 40px;
    }

    .cont-container img{
        width: 15%;
        padding: 0 10px 0 10px;
        
    }

        .cont-container p{
            width: 70%;
            color: hsla(0, 2%, 10%,0.60);
            font-size: 20px;
            font-weight: 500;
            line-height: 1.5;
            padding: 1em;
            margin: 0 15% 0 15% ;


        }
       .cont-container .classbtn{
            width: 100%;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .cont-container .bttnn{
            padding: 10px;
            border: none;
            background-color: #E7332B;
            color: white;
            width: 30%;
            margin: 3%;
            border-radius: 0 0 10px 0;
            box-shadow:5px 8px rgb(151, 68, 68), 0.60;
            transition: 0.3s ease-in-out;
        }
    .bttnn:hover{
            cursor: pointer;
            box-shadow: 0px 5px rgba(161, 153, 153, 0.60) ;
            
        }


        .cont-container button{
            padding: 10px;
            border: none;
            background-color: rgba(88, 86, 86, 0.9);
            color: white;
            width: 40%;
            border-radius: 0 0 10px 0;
            box-shadow:0px 2px rgba(161, 153, 153, 0.60);
            transition: 0.3s ease-in-out;
        }
    .button:hover{
            cursor: pointer;
            box-shadow: 0px 2px rgba(161, 153, 153, 0.60) ;
        }
    
    
    
            .cont-container .img{
                width: 45%;
                padding: 5em;
            }

         .cont-container .lineimg{
                width: 10%;
            }






}
