
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: Averta, sans-serif;
    /* overflow: hidden; */
}

.mainbody{
    background-image: url(https://zuri.team/img/hero-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center; 
    max-width: 100%;
    
    
}


@media only screen and (max-width: 600px){  


header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20%;
    
}

.sectioncont .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8%;
    width: 100%;
    

    
    
}

.container h2{
    padding: 5%;
    /* color: #eb5850; */
    width: 100%;
    color: hsl(0, 5%, 30%);
    font-size: 30px;
    line-height: 2;
    text-align: center;
    
}

.container p{
    /* padding: 5%; */
    color:hsla(0, 5%, 30%,0.9) ;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-family: ;
    line-height: 1.5;

}

span{
    /* color: rgb(248, 6, 6); */
    color: #E7332B;
    text-align: center;
    /* padding: 10px; */
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15%;
}


.button a .btn1{
    
    background-color: #E7332B;
    color: hsl(0, 0%, 100%);
    padding:15px 22px 15px 22px;
    border: 1px solid #e7332B;
    font-size: medium;
}

.button a .btn1:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 100%);
    color: #e7332B;
    transition: 0.1s;
}

.button a .btn2{
    
    background-color:hsl(0, 0%, 100%);
    /* background-color: #E7332B; */
    color: #e7332b;
    padding: 15px 25px 15px 25px;
    border: 1px solid #e7332b;
    font-size: medium;
}

.button a .btn2:hover{
    cursor: pointer;
    background-color:#e7332B;
    color:hsl(0, 0%, 100%);
    transition: 0.1s;

}

.section .containersect{
    background-color: #ffffff;
    
}
.section .zuriteam{
    width: 59%;
    margin: 25%;
    padding-top: 10%;
    text-align: center; 
    line-height: 2;
    background-color: white;
    font-size: 18px;
}

.zuriteam p {
    /* text-align: center; */
    /* width: 95%;
    /* padding:2%; */
    /* font-size: 20px; */
}
 .divcont{
    background-color:#FFFAFA;
    width: 80%;
    padding: 20% 10% 25% 15%;
    line-height: 1.5;
    color:hsla(0, 5%, 30%,0.60) ;
    font-weight: 500;
    font-size: 18px;
    margin: 3em;
    /* margin: 5% 15% 5% 10%; */
}

.divcont img{
    margin-bottom: 10%;
}
 .divcont #a{
    
    color: #e7332b;

    text-decoration: none;
}
#a:hover{
    cursor: pointer;
    transition: 0.3s;
}



.divcont2{
    background-color:#FFFAFA;
    width: 80%;
    padding: 10%;
    line-height: 1.5;
    color:hsla(0, 5%, 30%,0.60) ;
    font-weight: 500;
    font-size: 18px;
    margin:3em;
    /* margin:0 15% 15% 10%; */
    /* margin:0 10% 0 10%; */
}

.divcont2 img{
    margin-bottom: 10%;
}
 .divcont2 #atag{
    
    color: #e7332b;
    text-decoration: none;
}
#atag:hover{
    cursor: pointer;
    transition: 0.3s;
}

.divcont3{
    background-color:#FFFAFA;
    width: 80%;
    padding: 10%;
    /* padding: 20% 10% 25% 15%; */

    line-height: 1.5;
    color:hsla(0, 5%, 30%,0.60) ;
    font-weight: 500;
    font-size: 18px;
    margin: 3em;
    /* margin:0 15% 15% 10%; */
    /* margin:0 10% 0 10%; */
}

.divcont3 img{
    margin-bottom: 10%;
}
 .divcont3 .para3a{
    
    color: #e7332b;

    text-decoration: none;
}
.para3a:hover{
    cursor: pointer;
    transition: 0.3s;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10%;
}

.footlogo{
    /* padding: 10%; */
    /* margin: 5% 5% 0 5%; */
    text-align: center;
    width: 100%;
    line-height: 2;
}


.links h3{
padding: 5%;
margin: 0 5% 0 5%;
font-size: 20px;
line-height: 2;

}

.links a{
    color: #e7332B;
    text-decoration: none;
    padding: 20%;
    line-height: 2;
}

.contact{
    padding: 10%;
    text-align: center;
    line-height: 1.5;
}

.contact a{
    text-decoration: none;
    color: #e7332B;

}

.Follow h3{

    padding:10px;
   /* padding: 0 35% 0 36%; */
   
   
}


.icon a{
text-decoration: none;
}

.icon a img{
    width: 18px;
    
    /* margin:0  auto; */
    /* padding: 2% 0; */
    margin-right: 5px;
    /* margin-left: 15%; */
    
}


.copyright {
    padding: 3rem;
    text-align: center;
    border-top: 2px solid rgba(0, 0, 0, 0.247);
    margin: 0 5%;
    margin-top: 3rem;
    color: #514949;
    font-weight: 700;
    font-size: 20px;
  }
  

}
@media only screen and (min-width: 601px){  

    header .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3%;
        /* margin-bottom: 5%; */
        
    }
    
    main .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        /* height: 50vh; */
        padding: 5%;
        
    }
    
    .container h2{
        /* padding: 0 0 8% 0 ; */
        
        /* padding:0 5% 0 5%; */
        width: 100%;
        color: hsl(0, 5%, 30%);
        font-size: 30px;
        line-height:1.5;
        text-align: center;
        
    }
    
    .container p{
        /* padding-bottom: 15%; */
        padding: 3%;
        color:hsla(0, 5%, 30%,0.60) ;
        width: 54%;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        font-family: ;
        line-height: 1.5;
    
    }
    
    span{
        /* color: rgb(248, 6, 6); */
        color: hsla(3, 80%, 54%,0.95);
        text-align: center;
        /* padding: 10px; */
    }
    
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-bottom: 20%;
        
        

    }
    
    
    .button a .btn1{
        
        background-color: #E7332B;
        width: 100%;
        color: hsl(0, 0%, 100%);
        padding:15px 22px 15px 22px;
        border: 1px solid #e7332B;
        font-size: medium;
        margin: 5%;
    }
    
    .button a .btn1:hover{
        cursor: pointer;
        background-color: hsl(0, 0%, 100%);
        color: #e7332B;
        transition: 0.1s;
    }
    
    .button a .btn2{
        
        background-color:hsl(0, 0%, 100%);
        width: 100%;
        color: #e7332b;
        padding: 15px 25px 15px 25px;
        border: 1px solid #e7332b;
        font-size: medium;
        margin: 15%;
    }
    
    .button a .btn2:hover{
        cursor: pointer;
        background-color:#e7332B;
        color:hsl(0, 0%, 100%);
        transition: 0.1s;
    
    }
    

    .section .containersect{
        background-color: #ffffff;


        /* display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; */
    }
    .section .zuriteam{
        width: 50%;
        margin:0 25%;
        padding-top: 10%;
        text-align: center; 
        line-height: 2;
        background-color: white;
        font-size: 18px;
    }
    
    .zuriteam p {
        text-align: center; 
        width: 49%;
        /* padding:5%; */
        margin: auto;
        font-size: 20px;
    }

    #divcontents{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;


    }
     .divcont{

        background-color: #FFFAFA;
        padding: 5% 2% 5% 2%;
        margin: 3%;
        line-height: 1.5;
        color:hsla(0, 5%, 30%,0.60) ;
        font-weight: 500;
        font-size: 18px;
        
    }
    
    .divcont img{
        margin-bottom: 10%;
    }
     .divcont #a{
        
        color: #e7332b;
    
        text-decoration: none;
    }
    #a:hover{
        cursor: pointer;
        transition: 0.3s;
    }
    
    
    
    .divcont2{
        
        background-color:#FFFAFA;
        padding: 5% 2% 5% 2%;
        margin: 3%;
        line-height: 1.5;
        color:hsla(0, 5%, 30%,0.60) ;
        font-weight: 500;
        font-size: 18px;
        
        

    }
    
    .divcont2 img{
        margin-bottom: 10%;
    }
    .divcont2 p{
        
    }
     .divcont2 #atag{
        
        color: #e7332b;
        text-decoration: none;
    }
    #atag:hover{
        cursor: pointer;
        transition: 0.3s;
    }
    
    .divcont3{


        background-color:#FFFAFA;
        padding: 5% 2% 5% 2%;
        margin: 3%;
        line-height: 1.5;
        color:hsla(0, 5%, 30%,0.60) ;
        font-weight: 500;
        font-size: 18px;
        
      
    }
    
    .divcont3 img{
        margin-bottom: 10%;
    }
     .divcont3 .para3a{
        
        color: #e7332b;
    
        text-decoration: none;
    }
    .para3a:hover{
        cursor: pointer;
        transition: 0.3s;
    }
    
    .footer{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 10% 0 10% 0;
        
    }  
    
    .footlogo{
        
        margin: 0 5% 5% 5%;
        /* margin-bottom:5%; */
        

    }
    .links h3{
        padding: 5%;
        margin: 0 5% 0 5%;
        line-height: 2;
        font-size: 18px;
        
        }
        
        .links a{
            color: #e7332B;
            text-decoration: none;
            padding: 20%;
            line-height: 2;
        }
        
        .contact{
            padding: 10%;
            /* text-align: center; */
            line-height: 1.5;
        }
        
        .contact a{
            text-decoration: none;
            color: #e7332B;
        
        }
        
        .Follow h3{
           /* padding: 0 20% 0 15%; */
           padding-bottom: 10%;
           /* line-height: 2; */
        }
        
        
        .icon a{
        text-decoration: none;
        }
        
        .icon a img{
            width: 8%;
            margin-bottom: 5%;
            
        }
        
    
        .copyright {
            
            padding:3rem;
            text-align: center;
            border-top: 2px solid rgba(0, 0, 0, 0.247);
            margin: 0 5%;
            margin-top: 3rem;
            color: #514949;
            font-weight: 700; 
            font-size: 18px; 
          } 
           
        


}