*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: Averta, sans-serif;
}

body{
    background-image: url(/images/hero-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


@media only screen and (max-width: 600px){  


header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20%;
    
}

main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8%;
    width: 100%;
    
}

.container h2{
    padding: 5%;
    /* color: #eb5850; */
    width: 100%;
    color: hsl(0, 5%, 30%);
    font-size: 30px;
    line-height: 2;
    text-align: center;
    
}

.container p{
    /* padding: 5%; */
    color:hsla(0, 5%, 30%,0.9) ;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-family: ;
    line-height: 1.5;

}

span{
    /* color: rgb(248, 6, 6); */
    color: #E7332B;
    text-align: center;
    /* padding: 10px; */
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15%;
}


.button a .btn1{
    
    background-color: #E7332B;
    color: hsl(0, 0%, 100%);
    padding:15px 22px 15px 22px;
    border: 1px solid #e7332B;
    font-size: medium;
}

.button a .btn1:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 100%);
    color: #e7332B;
    transition: 0.1s;
}

.button a .btn2{
    
    background-color:hsl(0, 0%, 100%);
    /* background-color: #E7332B; */
    color: #e7332b;
    padding: 15px 25px 15px 25px;
    border: 1px solid #e7332b;
    font-size: medium;
}

.button a .btn2:hover{
    cursor: pointer;
    background-color:#e7332B;
    color:hsl(0, 0%, 100%);
    transition: 0.1s;

}


}
@media only screen and (min-width: 601px){  

    header .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3%;
        
    }
    
    main .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 3%;
        
    }
    
    .container h2{
        /* padding: 5%; */
        /* color: #eb5850; */
        width: 100%;
        color: hsl(0, 5%, 30%);
        font-size: 30px;
        line-height: 2;
        text-align: center;
        
    }
    
    .container p{
        padding: 3%;
        color:hsla(0, 5%, 30%,0.95) ;
        width: 54%;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        font-family: ;
        line-height: 1.5;
    
    }
    
    span{
        /* color: rgb(248, 6, 6); */
        color: hsla(3, 80%, 54%,0.95);
        text-align: center;
        /* padding: 10px; */
    }
    
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        /* padding: 0 5% 0 5%; */
        
        
    }
    
    
    .button a .btn1{
        
        background-color: #E7332B;
        width: 100%;
        color: hsl(0, 0%, 100%);
        padding:15px 22px 15px 22px;
        border: 1px solid #e7332B;
        font-size: medium;
        margin: 5%;
    }
    
    .button a .btn1:hover{
        cursor: pointer;
        background-color: hsl(0, 0%, 100%);
        color: #e7332B;
        transition: 0.1s;
    }
    
    .button a .btn2{
        
        background-color:hsl(0, 0%, 100%);
        width: 100%;
        color: #e7332b;
        padding: 15px 25px 15px 25px;
        border: 1px solid #e7332b;
        font-size: medium;
        margin: 15%;
    }
    
    .button a .btn2:hover{
        cursor: pointer;
        background-color:#e7332B;
        color:hsl(0, 0%, 100%);
        transition: 0.1s;
    
    }
    
}